* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

#header_container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 960px;
}

.container {
    z-index: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 1920px;
    height: 960px;
    background-image: url(../images/bgimage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto;
    object-fit: cover;
    margin-bottom: 1000px;
}

#navbox_bg {
    /* navbar */
    z-index: 1;
    position: absolute;
    margin: 0;
    background-color: rgba(32, 62, 107, .7);
    width: 100%;
    height: 40px;
}

.navbar {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.container .navbar nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;

}

.container .navbar nav ul li a {
    text-decoration: none;
    margin-left: 16px;
    margin-right: 16px;
    color: #ffffff;
}

.container .navbar nav ul li a:hover {
    text-decoration: underline;
}

/* End of navbar*/


header {
    /* Header */
    position: absolute;
    padding: 70px 0 28px 0;
    width: 1080px;
    height: 200px;
}

.header_wrapper {
    position: absolute;
    z-index: 1;
    display: flex;
    gap: 600px;
}

.header_apps {
    /*   header  apps    */
    display: flex;
    flex-direction: column;
    width: 250px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
}

.header_apps h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

.app_icons a i {
    width: 40px;
    font-size: 30px;
}

.header_infos {
    /*   Header Infos    */
    display: flex;
    flex-direction: column;
    align-items: end;
}

.info_icons {
    /* info ICONS*/
    display: flex;
    justify-content: space-between;
    width: 230px;
}

.info_icons a {
    text-decoration: none;
    font-weight: 400;
}

.info_icons a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#discount {
    /*  discount image  */
    margin-top: 10px;
    width: 150px;
}

.number {
    margin-top: 10px;
}

a,
h2 {
    color: #ffffff;
    font-size: 17px;
}

h1 {
    color: #ffffff;
    font-size: 30px;
    font-family: 'Bebas Neue';
    font-weight: 400;
}

.info_icons a i {
    color: #cf2e2e;
    font-size: 25px;
}

/*  End of Header */


.logo {
    /* logo */
    position: absolute;
    width: 150px;
    cursor: pointer;
    left: 50%;
    top: 150px;
    transform: translate(-50%, -50%);
}

/*  End of logo */

#shop_btn {
    /*  Shop Button */
    width: 100px;
    cursor: pointer;
}

.shop_btn {
    display: flex;
    justify-content: center;
}

/*  End Shop Button */

.search {
    /*  Search Button   */
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    padding: 5px;
    height: 29px;
}

.searchButton {
    width: 56px;
    height: 42px;
    background: #fe5722;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    border: none;
}

.searchButton i {
    font-size: 25px;

}

.searchwrapper {
    margin-top: 10px;
    width: 250px;
}

/* End of Search Button*/

.below_header {
    /*Below the Header*/
    z-index: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: end;
    width: 1080px;
    height: 920px;


}

.quote {
    /* QUOTE button*/
    width: 300px;
    margin-bottom: 20px;
}

#quote {
    cursor: pointer;
}

.below_header h4 {
    /*  text info   */
    letter-spacing: 2px;
    font-family: 'Bebas Neue';
    font-size: 70px;
    color: #ffffff;
    font-weight: 300;
}

.below_header h4:nth-child(3) {
    line-height: 130px;
    letter-spacing: 1px;
    font-family: 'Bebas Neue';
    font-weight: 300;
    font-size: 160px;
    color: #ffffff;
}

h4 {
    text-shadow: 1px 2px 7px rgba(0, 0, 0.7);
}

#line {
    margin-top: 10px;
    width: 170px;
    height: 2px;
    margin: 30px 0 20px 0;
    background-color: #ffffff;

}

#belowhdr_info {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 25px;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 20px 0;
    width: 500px;
    color: #ffffff;
}

.buy-btn {
    position: absolute;
    margin-top: 20px;
    width: 270px;
    height: 70px;
    background-color: #b43a3a;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    border: none;
    font-weight: 300;
    transition: .8s;
}

.buy-btn:hover {
    cursor: pointer;
    background-color: #193a6b;
}

/*End of Below the Header*/


#main_containerbg {
    /* Starting Main Area*/
    width: 100%;
    height: 945px;
}

#main_container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 750px;
    background-color: #e6e6e6;
}

#main_box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url(/images/sidecar.jpg);
    background-repeat: no-repeat;
    background-size: 580px 945px;
    height: 945px;
    width: 1920px;
    background-color: #e6e6e6;
}

#maininfos_padding {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 140px 0 0 0;
    margin: 0 90px 0 90px;
}

#maininfos_box {
    display: flex;
    width: 1080px;
    height: 600px;
}

#maininfos_sidebg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/redwheel.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 420px;
    height: 600px;
    background-color: #bf282d;
}

#maininfos_sidebg h4 {
    font-family: 'Bebas Neue';
    font-size: 90px;
    font-weight: 500;
    color: #ffffff;
}

#maininfos_text {
    padding: 116px 72px 66px;
    background-color: #ffffff;
    width: 517px;
    height: 417px;
}

#maininfos_text h1 {
    color: #193a6b;
    font-size: 90px;
    font-family: 'Bebas Neue';
}

#maininfos_text p {
    font-size: 20px;
    line-height: 25px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

#maininfo_line {
    background-color: #bf282d;
    height: 2px;
    width: 170px;
    margin: 30px 0 50px 0;
}

#maininfos_text span {
    font-weight: 700;
    color: #193a6b;
}

#belowmain_wrapper {
    /*  BELOW MAIN */
    display: flex;
    width: 1080px;
    height: 200px;
    margin-top: -1px;
}

#box1,
#box2,
#box3,
#box4,
#box5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px 20px 10px;
    width: 100%;
    height: 156px;
}

.section_box h1 {
    text-shadow: 3px 3px 2px rgba(0, 0, 0, .4);
}

.section_box p {
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

#box1 {
    background-image: url(../images/box1.png);
    background-size: cover;
    background-color: #1b4585;
}

#box2 {
    background-image: url(../images/box2.png);
    background-color: #1b4585;
    background-size: cover;
}

#box3 {
    background-image: url(../images/box3.png);
    background-color: #153b74;
    background-size: cover;
}

#box4 {
    background-image: url(../images/box4.png);
    background-color: #1b4585;
    background-size: cover;
}

#box5 {
    background-image: url(../images/box5.png);
    background-color: #0f3b7d;
    background-size: cover;
}

.section_link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 100%;
}

.section_link a {
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

.section_link a:hover {
    text-decoration: underline;
}

/*  ENDING OF main */

.featured-product {
    /*  Featured Products   */
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    background-attachment: scroll;
    height: 100%;
    margin: 100px 0 50px 0;
}

.product-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 210px 5px 210px;
    height: 500px;
}

.product-box {
    width: 1080px;
    display: flex;
    justify-content: center;
}

.fp-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fp-title h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: #4d4d4d;
}

.fp-title h1:nth-child(2) {
    margin-top: -10px;
    font-family: 'Bebas Neue';
    font-size: 60px;
    color: #193a6b;

}

#fp-break {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3px;
    width: 100px;
    margin-top: 10px;
}

.productsection {
    width: 100%;
    display: flex;
    gap: 27px;

}

.hoddieimg,
.calvinimg,
.steakersimg,
.nissanimg {
    width: 250px;
    height: 260px;
    background-position: center;
    background-size: cover;
}

.price-tag {
    text-align: center;
    color: #cc0e0e;
}

.product-name {
    font-size: 20px;
    color: #193a6b;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    text-align: center;

}

.product1,
.product2,
.product3,
.product4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.select-btn {
    margin-top: 30px;
    display: flex;
    justify-content: center;

}

.opt-btn {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    border: none;
    font-size: 18px;
    width: 100%;
    height: 55px;
    background-color: #171717;
    color: #ffffff;
    margin-bottom: 20px;
    transition: .8s;
}

.opt-btn:hover {
    cursor: pointer;
    background-color: #193a6b;
    opacity: .8s;
}

.cart {
    height: 22px;
    margin-right: 10px;
}

.line_box {
    display: flex;
    justify-content: center;
}

.blackline {
    width: 1080px;
    opacity: 0.2;
    margin-top: 20px;
    margin-bottom: 30px;
}

.other-tabs {
    /*  NEW TAB */
    width: 100%;
    display: flex;
    gap: 6px;
}

.tab-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;

}

.tabimg {
    height: 100px;
    width: 170px;
}

.othertab-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 170px;
    height: 70px;
    padding: 15px 0px 10px 0px;
    margin-top: -10px;
    text-align: center;
    background-color: #193a6b;
    color: #ffffff;
    font-weight: 300;
    border: none;
    transition: .8s;
}

.othertab-text:hover {
    cursor: pointer;
    background-color: #000000;
    opacity: 1s;
}

.tab-wrapper {
    display: flex;
    justify-content: center;
    margin: 0px 390px;
    height: 160px;
}

#below-tabwrapper {
    font-size: 30px;
    text-align: center;
    margin: 30px 0px 20px 0px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    color: #193a6b;
}

#tabwrapperline {
    width: 700px;
    height: 2px;
}

#centerline {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

/*  ENDING OF PRODUCTS*/

#videobg {
    /*    starting video page*/
    display: flex;
    justify-content: center;
    height: 450px;
    background-color: #bf282d;
}

#vid_container {
    background-image: url(../images/bgsec.png);
    display: flex;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    width: 1920px;
}

#vid_wrapper {
    width: 100%;
    padding: 70px 0 50px 0;
    display: flex;
}

#sidebar_wrapper {
    background-image: url(../images/secbg1.png);
    height: 320px;
    width: 650px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-color: #193a6b;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidebar_box {
    /*  side bar video  */
    display: flex;
    flex-direction: column;
    margin-left: 120px;
}

#sidebar_box h1 {
    font-size: 50px;
    margin-top: -70px;
}

#vid_line {
    background-color: #ffffff;
    height: 3px;
    margin: 20px 0 30px 0;
    width: 100px;
}

#sidebar_box h4 {
    color: #ffffff;
    text-shadow: none;
    font-weight: 100;
    font-size: 17px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

#sidebar_click {
    margin-top: 10px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

#sidebar_click:hover {
    text-decoration: underline;
}

#video {
    /*  VIDEO   */
    height: 200px;
    width: 330px;
}

#video_text {
    margin: 20px 0 0 60px;
}

#video_text h1 {
    font-size: 40px;
}

#video_text h4 {
    line-height: 25px;
    color: #ffffff;
    font-weight: 100;
    font-size: 18px;
    text-shadow: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

#reviews_container {
    /*  Starting page reviews   */
    padding: 90px 0 20px 0;
    display: flex;
    justify-content: center;
}

#reviews_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#reviews_title h1 {
    color: #193a6b;
    font-size: 70px;
}

#users_review {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 90px 0 100px;
    width: 1080px;
    height: 250px;

}

#users_review img {
    height: 40px;
    width: 200px;
    margin-bottom: 20px;
}

#users_review p {
    line-height: 25px;
    text-align: center;
    font-size: 19px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;

}

#users_review h4 {
    text-shadow: none;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}

#review_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#review_button button {
    font-weight: 900;
    font-size: 22px;
    color: #ffffff;
    height: 80px;
    width: 280px;
    background-color: #193a6b;
    transition: .8s;
}

#review_button button:hover {
    cursor: pointer;
    color: #193a6b;
    background-color: #ffffff;
}

#facebook_container {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#custompaint_container {
    background-image: url(../images/custompaint.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#custompaint_container img {
    z-index: 1;
}

#cp_box {
    padding: 100px 0 140px 0;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1080px;
    height: 560px;
}

#cp_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cp_box #cp_text h1 {
    font-size: 100px;
}

#cp_line {
    background-color: #ffffff;
    width: 100px;
    margin-bottom: 20px;
}

#cp_box #cp_text h4 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 70px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;

}

#cp_box #cp_text button {
    background-color: rgba(0, 0, 0, .1);
    text-decoration: none;
    color: #ffffff;
    height: 65px;
    width: 240px;
    font-size: 18px;
    border: 1px solid #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    transition: .8s;
}

#cp_box #cp_text button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
    color: #000000;
    transition-timing-function: ease;
}

/*  ENDING custom paint */
footer {
    /*  STARTING FOOTER */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1180px;
    background-color: #000000;
}

#footer_bg {
    z-index: auto;
    display: flex;
    height: 960px;
    width: 100%;
    background-image: url(../images/footerbg.png);
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
}

#footer_contacts {
    width: 1080px;
    margin: 55px 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 240px 0 0 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

#footer_contacts h1 {
    font-size: 65px;
}

#contact_infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        " a b "
        " a c ";
    gap: 10px;
}

#item1 {
    grid-area: a;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

#item2 {
    grid-area: b;
    margin-bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

#item3 {
    grid-area: c;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

#contact_infos h4 {
    font-size: 22px;
    text-shadow: none;
    color: #ffffff;
    line-height: 40px;
}

#footer_contacts p {
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    line-height: 30px;
    font-weight: bolder;
    letter-spacing: 1px;
}

#ft_margin {
    margin: 30px 0 20px 0;
}

#creditcards {
    margin-top: 68px;
}

#creditcards h4 {
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

.footer_nav {
    /*  footer nav */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 1500px;
    height: 40px;
}

.ft_navbg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/ftnav.png);
    background-size: 100%;
    width: 100%;
    height: 100%;

}

.navbarbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.footer_nav .navbarbox nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: #ffffff;

}

.footer_nav .navbarbox nav ul li a {
    text-decoration: none;
    margin-left: 16px;
    margin-right: 16px;
    color: #ffffff;
}

.footer_nav .navbarbox nav ul li a:hover {
    text-decoration: underline;
}

#ft_copyright {
    color: #ffffff;
    margin-top: 40px;
    font-size: 20px;
}

/* Ending of Footer*/
#login_body {
    /* Login Page  */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 960px;
}

#login_logo {
    /* logo */
    position: absolute;
    width: 150px;
    cursor: pointer;
    left: 50%;
    top: 150px;
    transform: translate(-50%, -70%);
}

#loginbg_wrapper {
    background-image: url(../images/racingcars.jpg);
    background-position: center;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1920px;
    height: 960px;
}

#login_bgo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .6);
    height: 100%;
    width: 100%;
}

#login_box {
    display: flex;
    align-items: center;
    height: 400px;
    width: 700px;
    gap: 1px;
    background-color: #ffffff;
    transition: 0.5s;
}

#loginbg_side {
    background-image: url(../images/ferrariimg.jpg);
    display: flex;
    width: 300px;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#login_o {
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
}

#loginbg_side h1 {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 50px;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, .4);
}

#loginbg_side span {
    font-size: 30px;
    font-family: 'Bebas Neue';
    font-weight: 400;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, .4);
}

#login_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
}

#login_container h1 {
    color: #193a6b;
    font-family: 'Bebas Neue';
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 10px;
    font-size: 40px;
}

#login_container input {
    width: 300px;
    height: 10px;
    padding: 20px;
    border: none;
    background-color: #fcf5f5;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    border-radius: 5px;
}

#login_container input:nth-child(1) {
    margin-bottom: 20px;
}

#check {
    margin-top: 5px;
    display: flex;
    width: 340px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    height: 13px;

}

#check input {
    border: none;
    display: flex;
    width: 20px;
    height: 13px;
    background-color: #fcf5f5;

}

#login_icon {
    margin-top: 20px;
}

#login_icon img {
    cursor: pointer;
}

#login_btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #193a6b;
    text-decoration: none;
    width: 340px;
    height: 30px;
    margin-top: 10px;
    font-family: 'Bebas Neue';
    font-weight: 400;
    letter-spacing: 2px;
    transition: .8s;
}

#login_btn a:hover {
    color: #193a6b;
    background-color: #ffffff;
    border: 1px solid #000000;
}

#register_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-top: 10px;
}

#register_link h4 {
    margin-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-shadow: none;
    font-size: 13px;

}

#reg_btn {
    background-color: transparent;
    cursor: pointer;
    margin-left: 5px;
    color: #4d4d4d;
    text-decoration: none;
    margin-top: 10px;
    font-size: 13px;
    border: none;
}

#reg_btn:hover {
    text-decoration: underline;
}

/*  Ending of Log in Page   */

#register_box {
    /*  Start of Register Page  */
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    height: 520px;
    width: 100%;
    margin-top: 20px;
    transition: 0.5s;

}

#regbg_side {
    background-image: url(../images/ferrariimg.jpg);
    display: flex;
    width: 300px;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#regbg_side h1 {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 50px;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, .4);
}

#regbg_side span {
    font-size: 30px;
    font-family: 'Bebas Neue';
    font-weight: 400;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, .4);
}


#reg_o {
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
}

#register_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 510px;
    width: 500px;
    gap: 1px;
    background-color: #ffffff;
    padding: 10px 15px 0 15px;
}

#register_container h1 {
    display: flex;
    justify-content: center;
    color: #193a6b;
    font-family: 'Bebas Neue';
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 10px;
    font-size: 40px;
    margin-top: 10px;
}

#register_container input {
    padding: 20px;
    border: none;
    background-color: #fcf5f5;
    border-radius: 5px;
}

#names {
    display: flex;
    flex-wrap: wrap;
    width: 445px;
    gap: 10px;
}

#names input:nth-child(1) {
    width: 170px;
}

#names input:nth-child(2) {
    width: 180px;
}

#names input:nth-child(3) {
    width: 70px;
}

#names input:nth-child(4) {
    width: 280px;
}

#info {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 445px;
    gap: 10px;
}

#info input:nth-child(1) {
    width: 400px;
}

#acc {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 445px;
    gap: 10px;
}

#acc input:nth-child(2) {
    width: 210px;
}

#acc input:nth-child(3) {
    width: 170px;
}

#terms {
    margin-top: 10px;
    display: flex;
    justify-content: start;
    font-size: 13px;
    width: 445px;
}

#register_btn {
    margin-top: 10px;
}

#register_btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #193a6b;
    text-decoration: none;
    width: 440px;
    height: 40px;
    margin-top: 10px;
    font-family: 'Bebas Neue';
    font-weight: 400;
    letter-spacing: 3px;
    transition: .8s;
    border: none;
    font-size: 15px;
}

#register_btn a:hover {
    cursor: pointer;
    color: #193a6b;
    background-color: #ffffff;
    border: 1px solid #000000;
}

#login_link {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 440px;
}

#login_link h4 {
    color: #000000;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-shadow: none;
}

#log_btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #4d4d4d;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-left: 5px;
}

#log_btn:hover {
    text-decoration: underline;
}

/*  Ending Regristration Page*/

#contact_container {
    /*  Inquiry Page    */
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 1050px;
    background-color: #e6e6e6;
}

#contact_nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    color: #ffffff;
    margin-bottom: 10px;
    background-color: rgba(32, 62, 107, .8);
}

#cnav_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1080px;
    height: 40px;
}

#cnav_box a {
    margin: 0 16px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

#cnav_box a:hover {
    text-decoration: underline;
}

#c_page {
    display: flex;
    justify-content: center;
    height: 1050px;
}

#c_border {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1080px;
    height: 1000px;
    background-color: #ffffff;
}

#inq_box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 900px;
}

#inq_box h1 {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    color: #ffffff;
    background-color: rgba(32, 62, 107, .8);
    width: 1080px;

}


#inq_box form {
    width: 100%;
    height: 100%;
}

#inq_box input {
    margin-top: 10px;
    display: flex;
    padding: 10px;
    height: 30px;
    font-size: 15px;
    border: 2px groove rgba(0, 0, 0, .2);
}

#inq_box label {
    font-size: 18px;

}

#full {
    width: 900px;
}

#form1 {
    display: flex;
    gap: 5px;
    width: 900px;
}

#form1 label {
    width: 900px;
}

#form1 input:nth-child(1) {
    display: flex;
    width: 450px;
}

#form1 input:nth-child(2) {
    display: flex;
    width: 450px;
}

#form2,
#form5 {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 900px;
}

#form1 input {
    display: flex;
    width: 350px;
}

#form2 input {
    display: flex;
    width: 878px;
}

#form_mixed {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    width: 900px;
    gap: 5px;
}

#form3 input {
    display: flex;
    width: 425px;
}

#form4 input {
    display: flex;
    width: 424px;
}

#form5 textarea {
    margin-top: 10px;
    height: 70px;
    border: 2px groove rgba(0, 0, 0, .2);
    padding: 10px;
    font-size: 15px;
}

#submit_btn {
    margin-top: 10px;
    display: flex;
}

#submit_btn button {
    cursor: pointer;
    height: 50px;
    width: 200px;
    background-color: #193a6b;
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    border: none;
    transition: .8s;
}

#submit_btn button:hover {
    background-color: #ffffff;
    color: #193a6b;
    border: 1px solid #000000;
}

/*  End of Inquiry Page*/

#contacts {
    width: 900px;

}

#cbg_opacity {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 1080px;
    background-color: rgba(32, 62, 107, .8);
    margin-bottom: 20px;
}

#contacts p:nth-child(1) {
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 300;
}

#contacts p:nth-child(2) {
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 300;
}

#contacts p:nth-child(2) span {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
    color: #193a6b;
}

#contacts p:nth-child(3) {
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 10px;
    font-size: 20px;
}

#c_phone h1,
#quote_email h1,
#Contact_info h1 {
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: start;
    color: #4d4d4d;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    background-color: transparent;
    letter-spacing: normal;
    margin: 10px 0;

}

#c_phone h4,
#quote_email h4,
#Contact_info h4 {
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 5px;
    font-size: 20px;
    text-shadow: none;
}

#c_phone h4 span {
    font-weight: 600;
    color: #000000;
    margin-left: 5px;
}

#quote_email span,
#Contact_info span {
    cursor: pointer;
    font-weight: 600;
    color: #193a6b;
    margin-left: 5px;
    text-decoration: underline;
}

@media(max-width: 600px) {
    html {
        max-width: 100%;
    }

    #loginbg_side,
    #login_o {
        display: none;
    }

    #login_box {
        width: 100%;
        padding: 0 20px 0 20px;
    }

    #regbg_side,
    #reg_o {
        display: none;
    }

    #login_box {
        max-width: 100%;
        padding: 0 20px 0 20px;
    }

    #login_bgo {
        display: flex;
        justify-content: center;

    }

    .productsection {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 100%;
        gap: 27px;

    }

    .other-tabs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .product-wrapper {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .tab-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0px 390px;
        height: 100%;
        width: 100%;
    }

    .tab-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

    }

    #below-tabwrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 15px;
        text-align: center;
        margin: 30px 0px 20px 0px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bolder;
        color: #193a6b;
        width: 100%;
        height: 100%;
    }

    #belowmain_wrapper {
        /*  BELOW MAIN */
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        margin-bottom: 1000px;
    }

    #maininfos_padding {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 140px 0 0 0;
        margin: 0 0 500px 0;
        height: 100%;
        width: 100%;
    }

    #main_box {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background-image: url(/images/sidecar.jpg);
        background-repeat: no-repeat;
        background-size: 580px 945px;
        height: 100%;
        width: 100%;
        background-color: #e6e6e6;
    }

    .ft_navbg {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-image: url(../images/ftnav.png);
        background-size: 100%;
        width: 100%;
    }

    .footer_nav {
        /*  footer nav */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        width: 100%;
        height: 40px;
    }
}

@media(max-width: 425px) {
    html {
        width: 100%;
    }

    #regbg_side,
    #reg_o {
        display: none;
    }

    #login_box {
        display: flex;
        align-items: center;
        max-width: 380px;
        background-color: #ffffff;
        transition: 0.5s;
    }

    #register_box {
        display: none;
        align-items: center;
        max-width: 380px;
        padding: 0 50px 0 50px;
    }

    #login_bgo {
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 780px) {
    header {
        /* Header */
        position: absolute;
        padding: 0;
        width: 100%;
        height: 100%;
    }
    .header_apps {
        align-items: center;
    }
    .header_infos {
        /*   Header Infos    */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo{
        display: none;
    }
    #buybtn_box {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
    .buy-btn {
        margin-top: 0;
    }

    .below_header {
        z-index: auto;
        display: flex;
        left: 50%;
        transform: translate(-50%, 50%);
        flex-direction: column;
        position: absolute;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 700px;
        background-color: #193a6b;
        margin-top: 50px;
    }

    .quote {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;

    }

    #header_container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .container {
        position: none;
        width: 100%;
        height: 100%;
        background-image: none;
    }

    .header_wrapper {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 5%);
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 0;
        background-color: #193a6b;
        width: 100%;
        margin-top: 24px;
    }

    #main_containerbg {
        /* Starting Main Area*/
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin-top: 60px;
    }

    #main_container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: #e6e6e6;
    }

    #main_box {
        background-image: none;
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        background-color: #e6e6e6;
    }

    #maininfos_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    #maininfos_text p {
        text-align: justify;
        width: 600px;
        height: 200px;
    }

    #maininfos_sidebg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

    }

    #main_containerbg {
        /* Starting Main Area*/
        width: 100%;
        height: 100%;
    }

    #maininfos_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    #box1,
    #box2,
    #box3,
    #box4,
    #box5 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px 20px 10px;
        width: 200px;
        height: 200px;

    }

    #maininfos_padding {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
    }

    #belowmain_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-top: 0;
        gap: 5px;
    }

    .productsection {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .product-box {
        width: 100%;
        flex-wrap: wrap;
    }

    .product-wrapper {
        height: 100%;
    }

    .other-tabs {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .tab-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        margin: 0;
    }

    .tab-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 500px;
    }

    #below-tabwrapper {
        font-size: 15px;
    }

    .footer_nav {
        width: 100%;
        flex-wrap: wrap;
    }

    .navbarbox {
        width: 100%;
    }
}